body, html {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'EL', 'HMSC', Courier, monospace;
    font-size: 16px;
}



#iMtopicprovider {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 935px;
    height: 500px;
    border: 1px solid #333333;
}

#iMtopiclist {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin: 10px;
}

.imtopic {
    width: 450px;
    height: 70px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}



.imavatarprovider {
    display: flex;
    width: 75px;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.imavatarname {
    font-size: 8px;
    height: fit-content;
    transform: translateY(-2px);
}

.imavatarprovider img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.imtopicmain {
    height: 75px;
    flex-grow: 1;
    background: linear-gradient(160deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
    padding: 10px;
    border-top: 1.5px solid #83b0b8;
}

.imtopictitle {
    font-size: 18px;
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 3px;
    padding: 0;
}

.imtopicdetail {
    font-size: 12px;
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.imtopic-image {
    width: 100%;
    height: 80px;
    background-size: cover;
    background-position: center;
}

/* Scrollbar styling */
#iMtopiclist::-webkit-scrollbar {
    width: 0px;
}

#iMtopiclist::-webkit-scrollbar-track {
    background: #00000000;
}

#iMtopiclist::-webkit-scrollbar-thumb {
    background: #00000000;
    border-radius: 3px;
}

#iMtopiclist::-webkit-scrollbar-thumb:hover {
    background: #00000000;
}

@media (max-width: 1024px) {
    #iMtopicprovider {
    }
}

@media (max-width: 768px) {
    #iMtopicprovider {
    }
    .imtopic {
    }
}

@font-face {
    font-family: "EL";
    src: url("electrolize.ttf") format("truetype");
}

@font-face {
    font-family: "HMSC";
    src: url("HarmonyOS_Sans_SC_Regular.ttf") format("truetype");
}